<h3> Search </h3>
<p> Look for smartphones,Enter a name of a brand : for example "Apple" </p>
<div class="searchBar">
    <input type="text" #searchText placeholder="Search...">
    <button type="button" (click)="showProducts(searchText.value)"> search </button>
</div>

<div *ngIf="message"> {{message}}</div>

<mat-grid-list *ngIf="products" class="grid-product" cols="4" rowHeight="1:1" >
    <mat-grid-tile *ngFor="let product of products">
        <div class="product">
            <h5> {{product.title}}</h5>
            <div *ngIf="product.image">
                <img [src]="product.image" width="100" height="150px">
            </div>
            <p> {{product.price}} </p>
            <p> score : {{product.rate}}</p>
        </div>
    </mat-grid-tile>
</mat-grid-list>
